# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Test and runtime output
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg metadata
*.egg-info/


